<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pilot" href="/tabs/pilot">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Pályák</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="umpires" href="/tabs/umpires">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Játékvezetők</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
