<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pilot" href="/tabs/pilot">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
      <ion-label>Pályák</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="umpires" href="/tabs/umpires">
      <ion-icon aria-hidden="true" name="people-outline"></ion-icon>
      <ion-label>Játékvezetők</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Beállítások</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
