<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'settings' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col sizeLg="6" pushLg="3">
        @if (settings(); as currentSettings) {

        <ion-list>
          <ion-item>
            <ion-select
              [label]="'language' | translate"
              [value]="translationService.language()"
              (ionChange)="updateLanguage($event)"
              interface="popover">
              <ion-select-option value="en"> English </ion-select-option>

              <ion-select-option value="hu"> Magyar </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-toggle
              [checked]="currentSettings.withServiceJudge"
              (ionChange)="updateWithServiceJudge($event)">
              {{ 'serviceJudge' | translate }}
            </ion-toggle>
          </ion-item>

          <ion-item>
            <ion-toggle
              [checked]="currentSettings.showAlert"
              (ionChange)="updateShowAlert($event)">
              {{ 'showAlerts' | translate }}
            </ion-toggle>
          </ion-item>

          <ion-item>
            <ion-input
              [label]="'numberOfCourts' | translate"
              type="number"
              min="1"
              labelPlacement="floating"
              [value]="currentSettings.numberOfCourts"
              (ionInput)="updateNumberOfCourts($event)">
            </ion-input>
          </ion-item>
        </ion-list>

        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
